<footer class="site-footer h-card">
    <data class="u-url" href="/"></data>
    <div class="container">
        <div class="row footer-col-wrapper">
            <div class="column">
              <div class="footer-col footer-col-1">
                  <p>Learn To Love Growth And Change And You Will Be A Success. </p>
                  <ul class="social-media-list">
                      <li><a href="#"><img src="{{ site.baseurl }}/assets/img/twitter.svg" alt="social"></a></li>
                      <li><a href="#"><img src="{{ site.baseurl }}/assets/img/facebook.svg" alt="social"></a></li>
                      <li><a href="#"><img src="{{ site.baseurl }}/assets/img/m-icon.svg" alt="social"></a></li>
                      <li><a href="#"><img src="{{ site.baseurl }}/assets/img/youtube.svg" alt="social"></a></li>
                  </ul>
              </div>
            </div>
            <div class="column">
              <div class="footer-col footer-col-2">
                  <ul class="fmenu">
                    <li><a href="#">Pricing</a></li>
                    <li><a href="#">Teams</a></li>
                    <li><a href="#">Education</a></li>
                    <li><a href="#">Refer a friend</a></li>
                    <li><a href="#">Updates</a></li>
                  </ul>
              </div>
            </div>
            <div class="column">
              <div class="footer-col footer-col-3">
                  <ul class="address">
                    <li>
                        <span>
                          <svg width="14" height="20" viewBox="0 0 14 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M0 7C0 3.13 3.13 0 7 0C10.87 0 14 3.13 14 7C14 12.25 7 20 7 20C7 20 0 12.25 0 7ZM4.5 7C4.5 8.38 5.62 9.5 7 9.5C8.38 9.5 9.5 8.38 9.5 7C9.5 5.62 8.38 4.5 7 4.5C5.62 4.5 4.5 5.62 4.5 7Z" fill="#CAD1E1"/></svg>

                        </span>
                        <p>1772 Nevskaya Street NW, Suite 21389, Atlanta, GA 902344</p>
                    </li>
                    <li>
                        <span>
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M6.62 10.79C8.06 13.62 10.38 15.93 13.21 17.38L15.41 15.18C15.68 14.91 16.08 14.82 16.43 14.94C17.55 15.31 18.76 15.51 20 15.51C20.55 15.51 21 15.96 21 16.51V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z" fill="#CAD1E1"/>
                            </svg>
                        </span>
                        <p><a href="tel:+1 789 123456">+1 789 123456</a></p>
                    </li>
                    <li>
                        <span>
                          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M4 4H20C21.1 4 22 4.9 22 6V18C22 19.1 21.1 20 20 20H4C2.9 20 2 19.1 2 18L2.01 6C2.01 4.9 2.9 4 4 4ZM12 13L20 8V6L12 11L4 6V8L12 13Z" fill="#CAD1E1"/>
                          </svg>

                        </span>
                        <p><a href="mailto:hello@containers.kit">hello@containers.kit</a></p>
                    </li>
                  </ul>
              </div>
            </div>
            <div class="column">
              <div class="footer-col footer-col-4">
                  <p>Receive special offers and  get our latest updates.</p>
                  <form>
                    <input type="text" placeholder="Enter e-mail" name="">
                    <button class="btn secondary-btn">Join</button>
                  </form>
              </div>
            </div>
        </div>
    </div>
</footer>
<script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/swiper-bundle.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/custom.js"></script>
</body>
</html>