/*********global**********/
/* Typography CSS */
/*************header************/
html {
	-webkit-tap-highlight-color: transparent;
	-webkit-font-smoothing: antialiased;
	margin: 0;
	padding: 0;
	border: none;
}
body{
	font-family: $font-family;
	margin: 0;
	padding: 0;
}
* {
	box-sizing: border-box;
}
a {
	margin: 0;
	padding: 0;
	border: none;
	outline: 0;
	margin: 0;
	padding: 0;
	color: $primary-color;
	text-decoration: none;
	&:focus {
		text-decoration: none;
		outline: 0;
		color: inherit;
		text-decoration: none;
		transition: all .3s ease 0s;
	}
	&:hover {
		text-decoration: none;
		outline: 0;
		color: inherit;
		text-decoration: none;
		transition: all .3s ease 0s;
		color: $primary-color;
		text-decoration: none;
	}
	&:visited {
		color: $primary-color;
		text-decoration: none;
	}
}
form, fieldset, hr, i {
	margin: 0;
	padding: 0;
	border: none;
}
iframe, img, map {
	margin: 0;
	padding: 0;
	border: none;
}
ol, ul {
	margin: 0;
	padding: 0;
	border: none;
}
p {
	margin: 0;
	padding: 0;
	border: none;
	margin-top: 0;
	margin-bottom: 0.8333vw;
	font-size: clamp(1rem, 1.0000rem + 0.0000vw, 1rem);
	font-weight: 400;
	line-height: clamp(1.5rem, 1.5000rem + 0.0000vw, 1.5rem);
	letter-spacing: 0px;
	color: $light-btn;
}
input {
	outline: 0;
	margin: 0;
	padding: 0;
	&:focus {
		text-decoration: none;
		outline: 0;
		color: inherit;
		text-decoration: none;
		transition: all .3s ease 0s;
	}
}
.btn.focus {
	text-decoration: none;
	outline: 0;
	color: inherit;
	text-decoration: none;
	transition: all .3s ease 0s;
}
.btn {
	&:focus {
		text-decoration: none;
		outline: 0;
		color: inherit;
		text-decoration: none;
		transition: all .3s ease 0s;
	}
	&:hover {
		text-decoration: none;
		outline: 0;
		color: inherit;
		text-decoration: none;
		transition: all .3s ease 0s;
	}
	font-size: clamp(0.75rem, 0.7500rem + 0.0000vw, 0.75rem);
	font-weight: 500;
	letter-spacing: 2px;
	border: 1px solid $primary-color;
	text-transform: uppercase;
	padding: clamp(0.75rem, 0.7500rem + 0.0000vw, 0.75rem) clamp(1.125rem, 1.1250rem + 0.0000vw, 1.125rem);
	border-radius: 5px;
	display: inline-block;
	text-align: center;
	min-width: 11vw;
}
.container {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	width: 100%;
	padding-right: calc(var(--bs-gutter-x) * .5);
	padding-left: calc(var(--bs-gutter-x) * .5);
	margin-right: auto !important;
	margin-left: auto !important;
    @media (min-width: 576px) {
        max-width: 100vw !important;
    }
    @media (min-width: 768px) {
        max-width: 90vw !important;
    }
    @media (min-width: 992px) {
        max-width: 80vw !important;
    }
    @media (min-width: 1200px) {
        max-width: 72vw !important;
    }
    @media (min-width: 1400px) {
        max-width: 68.7500vw !important;
    }
}
.row {
	--bs-gutter-x: 1.5rem;
	--bs-gutter-y: 0;
	display: flex;
	flex-wrap: wrap;
	margin-top: calc(-1 * var(--bs-gutter-y));
	margin-right: calc(-.5 * var(--bs-gutter-x));
	margin-left: calc(-.5 * var(--bs-gutter-x));
	>* {
		flex-shrink: 0;
		width: 100%;
		max-width: 100%;
		padding-right: clamp(0.75rem, 0.7500rem + 0.0000vw, 0.75rem);
		padding-left: clamp(0.75rem, 0.7500rem + 0.0000vw, 0.75rem);
		margin-top: var(--bs-gutter-y);
	}
}
.column {
	padding-right: clamp(0.75rem, 0.7500rem + 0.0000vw, 0.75rem);
	padding-left: clamp(0.75rem, 0.7500rem + 0.0000vw, 0.75rem);
	flex: 0 0 auto;
}
.column-12 {
	width: 100vw;
}
.column-6 {
	width: 50vw;
    @media (max-width: 991px) {
        width: 100vw;
    }
    @media (max-width: 767px) {
        width: 100vw;
    }
}
.column-4 {
	width: 22.7vw;
    @media (max-width: 991px) {
        width: 50vw;
    }
    @media (max-width: 767px) {
        width: 100vw;
    }
}
.column-3 {
	width: 17vw;
    @media (max-width: 1120px) {
        width: 20vw;
    }
    @media (max-width: 991px) {
        width: 40vw;
    }
    @media (max-width: 767px) {
        width: 100vw;
    }
}
.primary-btn {
	background: $primary-color;
	color: $white_txt;
	&:visited {
		background: $primary-color;
		color: $white_txt;
	}
	&:hover {
		background: $secondary-color;
		color: $white_txt;
		border: 1px solid $secondary-color;
	}
}
.secondary-btn {
	border: 1px solid $primary-color;
	color: $primary-color;
	&:visited {
		border: 1px solid $primary-color;
		color: $primary-color;
	}
	&:hover {
		background: $primary-color;
		color: $white_txt;
	}
}
.h1, h1 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: clamp(1.563rem, 1.1521rem + 2.0607vw, 3.625rem);
	font-weight: 500;
	line-height: clamp(4.25rem, 4.4493rem + -0.9994vw, 3.25rem);
	@media (max-width: 1120px) {
		line-height: clamp(3rem, 3rem + -0.2vw, 2rem);
	}
}
.h2, h2 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: clamp(1.5rem, 1.3506rem + 0.7495vw, 2.25rem);
	line-height: clamp(2.5rem, 2.5598rem + -0.2998vw, 2.2rem);
}
.h3, h3 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: clamp(1rem, 0.9004rem + 0.4997vw, 1.5rem);
	line-height: clamp(1.5rem, 1.4253rem + 0.3748vw, 1.875rem);
}
.h4, h4 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: clamp(1.125rem, 1.0752rem + 0.2498vw, 1.375rem);
	line-height: clamp(1.125rem, 1.0752rem + 0.2498vw, 1.375rem);
}
.h5, h5 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: clamp(1rem, 0.9751rem + 0.1249vw, 1.125rem);
	line-height: clamp(1rem, 0.9751rem + 0.1249vw, 1.125rem);
}
.h6, h6 {
	margin-bottom: 0.5rem;
	margin-top: 0;
	font-weight: bold;
	font-size: clamp(1rem, 1.0000rem + 0.0000vw, 1rem);
	line-height: clamp(1rem, 1.0000rem + 0.0000vw, 1rem);
}
.p-0 {
	padding: 0;
}
.lightbg {
	background: $light-bg;
}
.text-center {
	text-align: center;
}
.section-space {
	padding: 6.8vw 0;
    @media (max-width: 767px) {
        padding: 10vw 0;
    }
}
.link {
	font-size: clamp(0.875rem, 0.8750rem + 0.0000vw, 0.875rem);
	font-weight: 500;
	letter-spacing: 2px;
	color: $primary-color;
	text-transform: uppercase;
	&:hover {
		color: $light-btn;
	}
}