$body-bg: #fff !default;

/* Fonts settings */
$font-family: 'Rubik', sans-serif;

/* Colors */
$primary-color: #6E38F7;
$secondary-color: #363940;
$light-btn: #95A1BB;

$light-bg: #F6F7FA;
$white_txt: #ffffff;
$border-color: #E1E5EE;

/* transition */
$transition-animate: all ease 0.4s;

/* important */
$i: unquote("!important");